* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ff6347;
  height: 50px;
}

.header a {
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.header a:hover {
  color: white;
}

.home {
  background-color: dodgerblue;
  height: 200px;
}

.footer {
  background-color: #939697;
}

.page {
  background-color: dodgerblue;
  height: 200px;
  color: white;
}
